.editor-tools {
  min-height: 45px;
  padding: 0 10px;
  line-height: 45px;
  font-size: 18px;
  border-bottom: solid 1px #e4e7ed;
  text-align: right;
  display: flex;
  justify-content: space-between;

  .left-toolbar {
    height: 100%;
    font-size: 16px;
    align-items: center;

    .left-divid {
      margin-right: 10px;
      height: 25px;
    }

    button {
      width: 30px;
      text-align: center;
      padding: 0;
    }
  }
}