.simple-form-panel {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;

  .panel-list {
    padding-top: 20px;

    &-title {
      font-weight: bold;
      font-size: 12px;
    }

    .elements-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.component-tag {
  background: #fff;
  color: #000;
  cursor: pointer;
  display: inline-block;
  height: 70px;
  line-height: 1;
  min-width: 70px;
  text-align: center;
  transition: all .2s ease;
  width: 33.33%;

  &:hover {
    background: #2e73ff;
    color: #fff;
  }
}